body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#sections{
    display: flex;
    list-style: none;
    font-size: x-large;
    font-weight: bold;
    width: 60%;
    align-items: center;
    justify-content: right;
    margin-right: 1.5rem;
}

.navigation{
    margin-left: 2rem;
    justify-content: right;
}

.dropdown{
    margin-left: 2rem;
}

.dropdown:hover{
    cursor: pointer;
}

span {
    padding: 10px;
}
span:hover{
    background-color: rgb(50, 119, 247);
    color: white;
    border-radius: 5px;
}

.menu {
    position: absolute;
    list-style: none;
    padding-left: 0;
    padding-right: 2rem;
    border: solid 1px rgb(50, 119, 247);
    border-radius: 5px;
    background-color:rgb(50, 119, 247);
    color: white;
    visibility: hidden;
    margin: 0;
    margin-top: 6px;
}

.menu li{
    font-size: 1rem;
    font-weight: 100;
    padding: 6px;
}

.menu li:hover{
    text-decoration: underline;
}

#headLogo{
    width: 30%;
    display: flex;

    margin-left: 20px;
}

#headLogo img{
    max-width: 100%;
    max-height: 100%;
}

.navbar{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 6rem;
    display: flex;
    border-bottom: solid 2px #ACABA9;
    margin-top: 0px;
    justify-content: space-between;
}
a{
  color: black;
  text-decoration: none;  
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}

#contact{
    border: solid 1px black;
    padding: 5px;
    border-radius: 7px;
}

#contact:hover{
    background-color: black;
    color: white;
    text-decoration: none;
}

.mainPage{
    display: flex;
}

#header{
    width: 50%;
    padding: 3%;
    margin-top: 6rem;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 30px;
    font-weight: 900;
    line-height: 1;
}

#header p{
    margin-top: 5px;
    font-size: x-large;
    line-height: 1.5;
    font-weight: bold;
    font-size: 2rem;
    color: grey;
}

#banner{
    margin-top: 6rem;
    width: 50%;
}
#banner img {
    max-width: 100%;
    max-height: 100%;
}

#banner {
    background-image: url(/resources/Cartoon.png);
    transition-duration: 1s;
    background-size: cover;
}
#banner:hover {
    background-image: url(/resources/Hector-banner-PhotoRoom.png-PhotoRoom.png);
    transition-delay: 4s;
    transition-duration: 1s;
}

#education{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: dotted gray;
    margin-top: 5rem;
}
#education h2{
    font-size: 20px;
}

#education img{
    max-width: 30%;
    margin-left: 2rem;
}

#links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5rem;
}

#hire{
    background-color: rgb(50, 119, 247);
    color: white;
    width: 13rem;
    height: 3rem;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 30px;
    margin-top: 2rem;
    letter-spacing: 2px;
}
#hire:hover{
    color: rgb(50, 119, 247);;
    background-color: white;
    border: 2px rgb(50, 119, 247) solid;
    cursor: pointer;
}
#git{
    margin-top: 2rem;
    font-size: x-large;
    color: black;
    font-weight: 900;
    text-decoration: none;
}

#git:hover{
    text-decoration: underline;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    font-size: x-large;
    color: white;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 3%;
}

.projects li {
    margin-left: 0;
    display: list-item;
    list-style: circle white;
    color: white;
    justify-content: left;
    font-weight: 100;
}

#skills{
    display: flex;
    flex-flow: column;
}

#skills h2 {
    display: flex;
    letter-spacing: 2px;
    width: 100%;
    justify-content: center;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.skillLogo {
    max-width: 90px;
    max-height: 90px;
}

#maps{
    grid-column: span 2;
}

/* RESPONSIVE STYLING FOR TABLETS (768x662px) */

@media  only screen and (max-width: 769px) {
    .navbar #sections{
        font-size: 1.3rem;
        font-weight: 100;
    }
     #header h1{
        font-size: 4rem;
     }
     #header p{
        font-size: 1.5rem;
        text-align: center;
     }
     #education{
        margin-top: 2.5rem;
        flex-wrap: wrap;
     }
     #links{
        margin-top: 0;
        flex-wrap: wrap;
     }
     #banner{
        background-position: center;
     }
     .projects{
        display: flex;
        justify-content: center;
     }
     #projectList h2{
        text-align: center;
     }
     #skills{
        width: 100%;
     }
     #maps{
        margin-top: 1rem;
     }
     #maps h1{
        font-size: 3rem;
        text-align: center;
     }

     /*RESPONSIVE STYLING FOR MOBILE PORT RESOLUTION (425x662px)*/
     
     @media screen and (max-width: 426px) {

        .navbar{
            height: 4rem;
            width: 100%;
            justify-content: left;
            position: fixed;
        }

        #headLogo{
            width: 4rem;
            height: 4rem;
            margin-left: 0;
        }
        .navbar #sections{
            font-size: .9rem;
            width: 80%;
            margin: 0;

        }
     }

}